.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-layout {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}


.flex-layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-scale-1 {
  flex: 1 0 0;
}

.flex-scale-2 {
  flex: 2 0 0;
}

.flex-scale-3 {
  flex: 3 0 0;
}

.flex-scale-4 {
  flex: 4 0 0;
}

.flex-scale-6 {
  flex: 6 0 0;
}

.flex-scale-12 {
  flex: 12 0 0;
}

.flex-scale-14 {
  flex: 14 0 0;
}

.flex-scale-15 {
  flex: 15 0 0;
}

.flex-scale-16 {
  flex: 16 0 0;
}

.pos-relative {
  position: relative;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}
